[Unit]
After=network-online.target
Wants=network-online.target

[Service]
User=juice
WorkingDirectory=/opt/juice-shop
ExecStart=/opt/node/bin/node build/app.js
Restart=always

[Install]
WantedBy=multi-user.target
